body{
  font-size: 1em;
  line-height: 1.4;
  margin: 0 auto;
}

.calendar-container{
  margin: 20px auto;
  width: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.time-list{
  list-style-type: none;
  margin: 0px 10px;
  text-align: right;
  color: #393939;
}

.time-large{
  font-size: 14px;
  font-weight: bold;

}

.time-small{
  color: gray;
  font-size: 10px;
  margin: 13px 5px 13px 5px;
}

.event-container{
  width: 550px;
  height: 720px;
  background: darkgray;
  position: relative;
}

.event{
  position: absolute;
  margin-left: 10px;
  padding: 0px 15px;
  height: 100%;
  border:1px solid lightgray;
  background: #FFF;
}

.event:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 5px;
    background: #2B4094;
}

.event > a {
    cursor: pointer;
    margin: 0;
    padding: 0 0 0 0;
    color: #4B6EA9;
    font-weight: bold;
    font-size: 8pt;
}

.event > a > span {
    display: block;
    margin: 0;
    padding: 0;
    color: #989898;
    font-size: 7pt;
    font-weight: normal;
}